.root {
    display: flex;
    height: 100vh;
}

.branding {
    align-items: center;
    background-color: #3fbac2;
    display: flex;
    flex: 1;
}

.button {
    color: #fff;
    margin: 1.75rem auto;
    text-transform: none;
    width: 100%;
}

.divider {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    overflow: visible;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;
}

.divider::after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -10px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}

.form {
    align-items: center;
    display: flex;
    flex: 1;
    padding: 1rem;
}

.logo {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .root {
        display: block;
    }

    .branding {
        background-color: #fff;
        padding: 2rem;
    }

    .logo {
        color: #3fbac2;
    }
}
