.post {
    width: 150px;
    height: 150px;
    margin: 5px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .post {
        width: 100%;
        height: auto;
        margin: 5px auto;
    }
}
