.root {
    margin: 5px;
    display: inline-block;
    position: relative;
}

.post {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .root {
        width: 100%;
        height: auto;
        margin: 5px auto;
    }

    .post {
        width: 100%;
        height: auto;
    }
}
